
/* Style Sheet */

body {
    width: 800px;
    margin: auto;
    font-family: Arial;
    font-size: 1.1rem;
}

.players-row {
    display: flex;
    justify-content: space-around;
}

.player-area {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 15px 50px;
}

#p1-header, #p2-header {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.active {
    background-color: red;
    color: black;
}